h1 {
  border-width: 10px !important;
  border-color: #dc3545 !important;
  margin-left: 16px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #999;
  a {
    display: inline-block;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}