<!-- Header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h1 class="h1-large">{{ 'WELCOME' | translate }}</h1>
          <p class="p-large">{{ 'WELCOME-TITLE' | translate }}</p>
          <p class="p-large">{{ 'WELCOME-SUB-TITLE' | translate }}</p>
          <a class="btn-solid-lg" href="https://github.com/vigcoin/wiki/blob/master/White-Paper.md" target="_blank"><i
              class="fa fa-book"></i>{{ 'WELCOME-WHITE-PAPER' | translate }}</a>
          <a class="btn-solid-lg secondary" href="https://github.com/vigcoin/wiki" target="_blank"><i
              class="fa fa-sitemap"></i>{{ 'WELCOME-LEARN-MORE' | translate }}</a>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/welcome.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

<!-- Introduction -->
<div class="basic-1" id="philosophy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>{{ 'NAV-PHILOSOPHY' | translate }}</p>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of introduction -->


<!-- Features -->
<div class="cards-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../assets/images/decentralized2.png" alt="alternative">
          </div>
          <div class="card-image">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ 'PHILOSOPHY-1' | translate }}</h5>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../assets/images/developer.png" alt="alternative">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ 'PHILOSOPHY-2' | translate }}</h5>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../assets/images/energy-saving.png" alt="alternative">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ 'PHILOSOPHY-3' | translate }}</h5>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../assets/images/secure-private2.png" alt="alternative">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ 'PHILOSOPHY-4' | translate }}</h5>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../assets/images/webmobile2.png" alt="alternative">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ 'PHILOSOPHY-5' | translate }}</h5>
          </div>
        </div>
        <!-- end of card -->

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of features -->


<!-- Introduction -->
<div class="basic-1" id="technology">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>{{ 'NAV-TECHNOLOGY' | translate }}</p>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of introduction -->


<!-- Cards -->
<div class="ex-cards-1 pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <!-- Card -->
        <div class="card">
          <ul class="list-unstyled">
            <li class="media">
              <span class="fa-stack">
                <span class="fas fa-circle fa-stack-2x"></span>
                <span class="fa-stack-1x">1</span>
              </span>
              <div class="media-body">
                <h5>{{ 'TECHNOLOGY-T1' | translate }}</h5>
                <p>{{ 'TECHNOLOGY-T1-DETAIL' | translate }}</p>
              </div>
            </li>
          </ul>
        </div> <!-- end of card -->
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <ul class="list-unstyled">
            <li class="media">
              <span class="fa-stack">
                <span class="fas fa-circle fa-stack-2x"></span>
                <span class="fa-stack-1x">2</span>
              </span>
              <div class="media-body">
                <h5>{{ 'TECHNOLOGY-T2' | translate }}</h5>
                <p>{{ 'TECHNOLOGY-T2-DETAIL' | translate }}</p>
              </div>
            </li>
          </ul>
        </div> <!-- end of card -->
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <ul class="list-unstyled">
            <li class="media">
              <span class="fa-stack">
                <span class="fas fa-circle fa-stack-2x"></span>
                <span class="fa-stack-1x">3</span>
              </span>
              <div class="media-body">
                <h5>{{ 'TECHNOLOGY-T3' | translate }}</h5>
                <p>{{ 'TECHNOLOGY-T3-DETAIL' | translate }}</p>
              </div>
            </li>
          </ul>
        </div> <!-- end of card -->
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <ul class="list-unstyled">
            <li class="media">
              <span class="fa-stack">
                <span class="fas fa-circle fa-stack-2x"></span>
                <span class="fa-stack-1x">4</span>
              </span>
              <div class="media-body">
                <h5>{{ 'TECHNOLOGY-T4' | translate }}</h5>
                <p>{{ 'TECHNOLOGY-T4-DETAIL' | translate }}</p>
              </div>
            </li>
          </ul>
        </div> <!-- end of card -->
        <!-- end of card -->

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of ex-cards-1 -->
<!-- end of cards -->


<!-- Details 1 -->
<div class="basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="text-container">
          <h2>{{ 'WHAT-IS-VIG-COIN' | translate }}</h2>
          <p>{{ 'WHAT-IS-VIG-COIN-INTRO' | translate }}</p>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
      <div class="col-lg-7">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/what-coin.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of details 1 -->

<!-- Testimonials -->
<div class="slider-1 bg-gray" id="roadmap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="h2-heading">{{ 'NAV-ROADMAP' | translate }}</h2>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">

        <!-- Card Slider -->
        <div class="slider-container">
          <div class="swiper-container card-slider">
            <div class="swiper-wrapper">

              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <div class="card-body">
                    <p class="testimonial-text">{{ 'ROADMAP-T1' | translate }}</p>
                    <p class="testimonial-text">{{ 'ROADMAP-T1-INTRO' | translate }}</p>
                    <p class="testimonial-author">{{ 'ROADMAP-STATE-DONE' | translate }}</p>
                  </div>
                </div>
              </div> <!-- end of swiper-slide -->
              <!-- end of slide -->

              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <div class="card-body">
                    <p class="testimonial-text">{{ 'ROADMAP-T2' | translate }}</p>
                    <p class="testimonial-text">{{ 'ROADMAP-T2-INTRO' | translate }}</p>
                    <p class="testimonial-author">{{ 'ROADMAP-STATE-PROGRESSING' | translate }}</p>
                  </div>
                </div>
              </div> <!-- end of swiper-slide -->
              <!-- end of slide -->

              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <div class="card-body">
                    <p class="testimonial-text">{{ 'ROADMAP-T3' | translate }}</p>
                    <p class="testimonial-text">{{ 'ROADMAP-T3-INTRO' | translate }}</p>
                    <p class="testimonial-author">{{ 'ROADMAP-STATE-PLANNED' | translate }}</p>
                  </div>
                </div>
              </div> <!-- end of swiper-slide -->
              <!-- end of slide -->

              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <div class="card-body">
                    <p class="testimonial-text">{{ 'ROADMAP-T4' | translate }}</p>
                    <p class="testimonial-text">{{ 'ROADMAP-T4-INTRO' | translate }}</p>
                    <p class="testimonial-author">{{ 'ROADMAP-STATE-PLANNED' | translate }}</p>
                  </div>
                </div>
              </div> <!-- end of swiper-slide -->
              <!-- end of slide -->

            </div> <!-- end of swiper-wrapper -->

            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- end of add arrows -->

          </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
        <!-- end of card slider -->

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->

<!-- Conclusion -->
<div id="wallet" class="basic-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/wallet.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
      <div class="col-lg-6">
        <div class="text-container">
          <p>{{ 'NAV-WALLET' | translate }}</p>
          <a class="btn-solid-lg"
            href="https://github.com/vigcoin/wallet/releases/download/1.0.0-b1/vigcoin-wallet-installer-v1.0.0-b2.msi"><i
              class="fab fa-windows"></i>Win 64bit Download</a>
          <a class="btn-solid-lg secondary"
            href="https://github.com/vigcoin/wallet/releases/download/1.0.0-b1/VIGCOIN-x86_64.AppImage"><i
              class="fab fa-linux"></i>Linux 64bit Download</a>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-5 -->
<!-- end of conclusion -->

<div class="basic-4" id="mining">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/mining.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
      <div class="col-lg-5">
        <div class="text-container">
          <h2>{{ 'NAV-MINING' | translate }}</h2>
          <p>{{ 'MINING-T1' | translate }}</p>
          <p>{{ 'MINING-T1-1' | translate }}</p>
          <p>{{ 'MINING-T1-2' | translate }}</p>
          <p>{{ 'MINING-T1-3' | translate }}</p>
          <p>{{ 'MINING-T1-4' | translate }}<a href="https://pools.vigcoin.org"
              target="_blank">https://pools.vigcoin.org</a></p>
          <p>{{ 'MINING-T1-5' | translate }}</p>
        </div> <!-- end of text-container -->
        <a class="btn-outline-reg btn btn-outline-primary btn-lg"
          href="https://github.com/vigcoin/wiki/blob/master/Pool.md" target="_blank">{{
          'MINING-T1-6' | translate }}<fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-4 -->

<div class="basic-3" id="development">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="text-container">
          <h2>{{ 'NAV-DEVELOPMENT' | translate }}</h2>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-chevron-right"></i>
              <div class="media-body">{{ 'DEVELOPMENT-T1' | translate }}</div>
            </li>
            <li class="media">
              <i class="fas fa-chevron-right"></i>
              <div class="media-body">{{ 'DEVELOPMENT-T1-1' | translate }}</div>
            </li>
            <li class="media">
              <i class="fas fa-chevron-right"></i>
              <div class="media-body">{{ 'DEVELOPMENT-T1-2' | translate }}</div>
            </li>
            <li class="media">
              <i class="fas fa-chevron-right"></i>
              <div class="media-body">{{ 'DEVELOPMENT-T1-3' | translate }}</div>
            </li>
            <li class="media">
              <i class="fas fa-chevron-right"></i>
              <div class="media-body">{{ 'DEVELOPMENT-T1-4' | translate }}<a href="https://pools.vigcoin.org"
                  target="_blank">https://github.com/vigcoin</a></div>
            </li>
            <li class="media">
              <i class="fas fa-chevron-right"></i>
              <div class="media-body">{{ 'DEVELOPMENT-T1-5' | translate }}</div>
            </li>
            <li class="media">
              <i class="fas fa-chevron-right"></i>
              <div class="media-body">{{ 'DEVELOPMENT-T1-6' | translate }}</div>
            </li>
            <li class="media">
              <i class="fas fa-chevron-right"></i>
              <div class="media-body">{{ 'DEVELOPMENT-T1-7' | translate }}<a href="https://github.com/cryptonote-rust"
                  target="_blank">https://github.com/cryptonote-rust</a></div>
            </li>
          </ul>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
      <div class="col-lg-7">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/development.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-3 -->