<div class="jumbotron">
  <!-- <img src="/assets/images/background.jpg"/> -->
  <div>
    <div id="particles-js"></div>
  </div>
  <div>
    <h1 class="display-4">{{ 'WELCOME' | translate }}</h1>
    <p class="lead">{{ 'WELCOME-TITLE' | translate }}</p>
    <hr class="my-4">
    <p>{{ 'WELCOME-SUB-TITLE' | translate }}
    </p>
    <hr class="my-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-primary btn-lg" href="https://github.com/vigcoin/wiki/blob/master/White-Paper.md"
            role="button">{{ 'WELCOME-WHITE-PAPER' | translate }}</a>
        </div>
        <div class="col text-center">
          <a class="btn btn-primary btn-lg" href="https://github.com/vigcoin/wiki" role="button">Wiki</a>
        </div>
        <div class="col text-center">
          <a class="btn btn-primary btn-lg" href="https://github.com/vigcoin/wiki"
            role="button">{{ 'WELCOME-LEARN-MORE' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h1 class="border-left"><a name="philosophy"></a>{{ 'NAV-PHILOSOPHY' | translate }}</h1>
  <div class="row philosophy">
    <div class="col-sm">
      <h2>{{ 'PHILOSOPHY-1' | translate }}</h2>
      <img src="/assets/images/decentralized.png" />
    </div>
    <div class="col-sm">
      <h2>{{ 'PHILOSOPHY-2' | translate }}</h2>
      <img src="/assets/images/developer.jpg" />

    </div>
    <div class="col-sm">
      <h2>{{ 'PHILOSOPHY-3' | translate }}</h2>
      <img src="/assets/images/energy-saving.jpeg" />

    </div>
    <div class="col-sm">
      <h2>{{ 'PHILOSOPHY-4' | translate }}</h2>
      <img src="/assets/images/secure-private.png" />

    </div>
    <div class="col-sm">
      <h2>{{ 'PHILOSOPHY-5' | translate }}</h2>
      <img src="/assets/images/webmobile.png" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <h1 class="border-left"><a name="technology"></a>{{ 'NAV-TECHNOLOGY' | translate }}</h1>
  <div class="row philosophy">
    <div class="col-sm">
      <h2>{{ 'TECHNOLOGY-T1' | translate }}</h2>
      <p>{{ 'TECHNOLOGY-T1-DETAIL' | translate }}</p>
    </div>
    <div class="col-sm">
      <h2>{{ 'TECHNOLOGY-T2' | translate }}</h2>
      <p>{{ 'TECHNOLOGY-T2-DETAIL' | translate }}</p>
    </div>
    <div class="col-sm">
      <h2>{{ 'TECHNOLOGY-T3' | translate }}</h2>
      <p>{{ 'TECHNOLOGY-T3-DETAIL' | translate }}</p>
    </div>
    <div class="col-sm">
      <h2>{{ 'TECHNOLOGY-T4' | translate }}</h2>
      <p>{{ 'TECHNOLOGY-T4-DETAIL' | translate }}</p>
    </div>
  </div>
</div>
<div class="container-fluid vigcoin">
  <h1>{{ 'WHAT-IS-VIG-COIN' | translate }}</h1>
  <p>{{ 'WHAT-IS-VIG-COIN-INTRO' | translate }}</p>
</div>
<div class="container-fluid">
  <h1 class="border-left"><a name="roadmap"></a>{{ 'NAV-ROADMAP' | translate }}</h1>
  <div id="carouselRoadMap" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselRoadMap" data-slide-to="0" class="active"></li>
      <li data-target="#carouselRoadMap" data-slide-to="1"></li>
      <li data-target="#carouselRoadMap" data-slide-to="2"></li>
      <li data-target="#carouselRoadMap" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item roadmap-item active">
        <img class="d-block w-100" src="/assets/images/roadmap/1.jpeg" />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ 'ROADMAP-T1' | translate }}</h5>
          <p>{{ 'ROADMAP-T1-INTRO' | translate }}</p>
          <h5>{{ 'ROADMAP-STATE-DONE' | translate }}</h5>
        </div>
      </div>
      <div class="carousel-item roadmap-item">
        <img class="d-block w-100" src="/assets/images/roadmap/2.jpeg" />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ 'ROADMAP-T2' | translate }}</h5>
          <p>{{ 'ROADMAP-T2-INTRO' | translate }}</p>
          <h5>{{ 'ROADMAP-STATE-PROGRESSING' | translate }}</h5>
        </div>
      </div>
      <div class="carousel-item roadmap-item">
        <img class="d-block w-100" src="/assets/images/roadmap/3.jpg" />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ 'ROADMAP-T3' | translate }}</h5>
          <p>{{ 'ROADMAP-T3-INTRO' | translate }}</p>
          <h5>{{ 'ROADMAP-STATE-PLANNED' | translate }}</h5>
        </div>
      </div>
      <div class="carousel-item roadmap-item">
        <img class="d-block w-100" src="/assets/images/global.jpg" />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ 'ROADMAP-T4' | translate }}</h5>
          <p>{{ 'ROADMAP-T4-INTRO' | translate }}</p>
          <h5>{{ 'ROADMAP-STATE-PLANNED' | translate }}</h5>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselRoadMap" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselRoadMap" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <h1 class="border-left"><a name="wallet"></a>{{ 'NAV-WALLET' | translate }}</h1>
  <div class="row wallet">
    <div class="col-sm">
      <h2>Windows 64bit</h2>
      <p class="icon">
        <fa-icon [icon]="faWindows"></fa-icon>
      </p>
      <a href="{{WindowsURL}}" target="_blank">
        <fa-icon [icon]="faDownload"></fa-icon>
      </a>
    </div>
    <div class="col-sm">
      <h2>Linux 64bit</h2>
      <p class="icon">
        <fa-icon [icon]="faLinux"></fa-icon>
      </p>
      <a href="{{LinuxURL}}" target="_blank">
        <fa-icon [icon]="faDownload"></fa-icon>
      </a>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <h1 class="border-left"><a name="exchange"></a>{{ 'NAV-EXCHANGE' | translate }}</h1>
  <div class="row exchange">
    <div class="col-sm text-center">
      <p> <a class="btn btn-outline-primary btn-lg" href="https://www.qbtc.ink/">{{ 'EXCHANGE-NAME-1' | translate }}</a>
      </p>
      <p><a class="btn btn-primary btn-lg"
          href="{{'EXCHANGE-NAME-1-URL' | translate }}">{{ 'EXCHANGE-BUY' | translate }}</a></p>
    </div>
    <div class="col-sm text-center">
    </div>
    <div class="col-sm text-center">
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <h1 class="border-left"><a name="mining"></a>{{ 'NAV-MINING' | translate }}</h1>
  <div class="row mining">
    <div class="col-sm">
      <h3>{{ 'MINING-T1' | translate }}</h3>
      <p>{{ 'MINING-T1-1' | translate }}<br />
        {{ 'MINING-T1-2' | translate }}<br />
        {{ 'MINING-T1-3' | translate }}<br />
        {{ 'MINING-T1-4' | translate }}<a href="https://pools.vigcoin.org">https://pools.vigcoin.org</a><br />
        {{ 'MINING-T1-5' | translate }}
      </p>
      <p class="text-center"><a class="btn btn-outline-primary btn-lg"
          href="https://github.com/vigcoin/wiki/blob/master/Pool.md">{{ 'MINING-T1-6' | translate }} <fa-icon
            [icon]="faExternalLinkAlt"></fa-icon></a></p>

    </div>
    <div class="col-sm">
      <img src="/assets/images/mining.jpg" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <h1 class="border-left"><a name="development"></a>{{ 'NAV-DEVELOPMENT' | translate }}</h1>
  <div class="row development">
    <div class="col-sm">
      <img src="/assets/images/software_dev.png" />
    </div>
    <div class="col-sm">
      <h3>{{ 'DEVELOPMENT-T1' | translate }}</h3>
      <p>{{ 'DEVELOPMENT-T1-1' | translate }}<br />
        {{ 'DEVELOPMENT-T1-2' | translate }}<br />
        {{ 'DEVELOPMENT-T1-3' | translate }}<br />
        {{ 'DEVELOPMENT-T1-4' | translate }}<a href="https://github.com/vigcoin">https://github.com/vigcoin</a><br />
        {{ 'DEVELOPMENT-T1-5' | translate }}<br />
        {{ 'DEVELOPMENT-T1-6' | translate }}<br />
        {{ 'DEVELOPMENT-T1-7' | translate }}<a
          href="https://github.com/cryptonote-rust">https://github.com/cryptonote-rust</a><br />
      </p>
    </div>

  </div>
  <h1 class="border-left"><a name="code"></a>{{ 'NAV-CODE' | translate }}</h1>
  <div class="row code">
    <div class="col-sm">
      <h3>{{ 'CODE-T1' | translate }}</h3>
      <p class="text-center"><a class="btn btn-outline-primary btn-lg"
          href="https://github.com/vigcoin">{{ 'CODE-T1-1' | translate }} <fa-icon [icon]="faExternalLinkAlt">
          </fa-icon></a></p>
      <p class="text-center"><a class="btn btn-outline-primary btn-lg"
          href="https://github.com/vigcoin/coin">{{ 'CODE-T1-2' | translate }} <fa-icon [icon]="faExternalLinkAlt">
          </fa-icon></a></p>
      <p class="text-center"><a class="btn btn-outline-primary btn-lg"
          href="https://github.com/vigcoin/wallet">{{ 'CODE-T1-3' | translate }} <fa-icon [icon]="faExternalLinkAlt">
          </fa-icon></a></p>
    </div>
    <div class="col-sm">
      <h3>{{ 'CODE-T2' | translate }}</h3>
      <p class="text-center"><a class="btn btn-outline-primary btn-lg"
          href="https://github.com/cryptonote-rust">{{ 'CODE-T2-1' | translate }} <fa-icon [icon]="faExternalLinkAlt">
          </fa-icon></a></p>
    </div>
  </div>
</div>