<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>介绍</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>钱包</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mining">
      <ion-icon name="construct"></ion-icon>
      <ion-label>挖矿</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>交流</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
