.jumbotron {
  position: relative;
  background: url("/assets/images/background.jpg");
  background-size: cover;
  color: white;
  border-radius: 0;
  #particles-js {
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
  }
  h1 {
    color: #DC3542;
  }
}

.logo {
  width: 25px;
}

.btn-primary {
  background-color: #dc3545;
  border-color: #dc3545;
  position: relative;
}

h1 {
  border-width: 10px !important;
  border-color: #dc3545 !important;
  margin-left: 16px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #999;
}

.philosophy {
  position: relative;
  h2 {
    text-align: center;
    color: #dc3545;
  }
  img {
    width: 100%;
    // height: 300px;
  }
}

.vigcoin {
  background-color: #dc3545;
  background-image: url("/assets/images/vigcoin.png");
  padding-bottom: 20px;
  opacity: 0.9;
  h1 {
    padding-top: 20px;
    text-align: center;
    color: white;
  }
  p {
    padding-left: 20px;
    color: #ccc;
  }
}

.roadmap-item {
  h1 {
    text-align: center;
  }
  img {
    width: 100%;
    height: 400px;
  }
}

.wallet {
  text-align: center;
  color: #16b75c;
  .icon {
    font-size: 64px;
    color: #999;
  }
  a {
    font-size: 32px;
  }
}

.mining, .development, .code {
  h3 {
    font-size: 36px;
    text-align: center;
    color: #dc3545
  }
  img {
    width: 100%;
  }
  p {
    text-align: left;
    font-size: 32px;
    padding-left: 20px;
    color: #ccc;
  }
}

.development {
  p {
    text-align: right;
    font-size: 32px;
    padding-right: 20px;
  } 
}

.contact {
  text-align: center;
  img {
    width: 80%;
  }
}

.about {
  text-align: center;
  // background-image: url("/assets/images/global.jpg");
  background-color: #333;
  color: white;
  height: 200px;
  padding: 50px 20px;
}