<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <div class="container">

    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Pavo</a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="#"><img src="../../assets/images/logo1.png" alt="alternative"></a>

    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="">{{ 'NAV-HOME' | translate }}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#philosophy">{{ 'NAV-PHILOSOPHY' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#technology">{{ 'NAV-TECHNOLOGY' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#roadmap">{{ 'NAV-ROADMAP' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#wallet">{{ 'NAV-WALLET' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#mining">{{ 'NAV-MINING' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#explorer">{{ "NAV-EXPLORER" | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#development">{{ 'NAV-DEVELOPMENT' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="#contact">{{ 'NAV-CONTACT' | translate }}</a>
        </li>
      </ul>
      <select class="selectpicker" data-width="auto" data-style="btn-dark">
        <option value="en" data-content='<span class="flag-icon flag-icon-us"></span> English '>English</option>
        <!-- <option value="mx" data-content='<span class="flag-icon flag-icon-mx"></span> Español '>Español</option> -->
        <option value="zh" data-content='<span class="flag-icon flag-icon-cn"></span> 中文 '>中文</option>
      </select>
    </div> <!-- end of navbar-collapse -->
  </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->