<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'WALLET-TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <h1 text-center color="primary">Windows 64</h1>
        <div text-center>
          <a href="{{WindowsURL}}" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Windows_logo_-_2012.svg" height="200px"/></a>
          <br/>

          <a href="{{WindowsURL}}" target="_blank">

          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Cloud_download_font_awesome.svg"height="40px"/>
          </a>
        </div>
      </ion-col>
      <ion-col col-6>
          <h1 text-center color="primary">Linux 64</h1>
          <div text-center>
            <a href="{{LinuxURL}}" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg" height="200px"/></a>
            <br/>
            <a href="{{LinuxURL}}" target="_blank">

            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Cloud_download_font_awesome.svg"height="40px"/>
            </a>


          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
      <ion-card-header>
        {{ 'WALLET-TITLE-1' | translate }}
      </ion-card-header>
      <ion-card-content>
          {{ 'WALLET-TITLE-1-1' | translate }}
        <br/>
        {{ 'WALLET-TITLE-1-2' | translate }}<br/>
        <a target="_blank" href="https://github.com/vigcoin/wallet">https://github.com/vigcoin/wallet</a>
      </ion-card-content>
    </ion-card>
</ion-content>