<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      矿池
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      官方的矿池网页
    </ion-card-header>
    <ion-card-content>
      地址：<br />
      http://pools.vigcoin.org/#/home<br />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      搭建矿池
    </ion-card-header>
    <ion-card-content>
      VIG COIN鼓励任何人搭建矿池。<br />
      搭建矿池的教程：<br />
      https://github.com/vigcoin/wiki/blob/master/Pool.md
    </ion-card-content>
  </ion-card>
</ion-content>