<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        {{ 'MINING-TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        {{ 'MINING-TITLE-1' | translate }}
    </ion-card-header>
    <ion-card-content>
        {{ 'MINING-TITLE-1-1' | translate }}<br />
      http://pools.vigcoin.org/#/home<br />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        {{ 'MINING-TITLE-2' | translate }}
    </ion-card-header>
    <ion-card-content>
        {{ 'MINING-TITLE-2-1' | translate }}<br />
        {{ 'MINING-TITLE-2-2' | translate }}<br />
      https://github.com/vigcoin/wiki/blob/master/Pool.md
    </ion-card-content>
  </ion-card>
</ion-content>