<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        {{ 'MINING-TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        {{ 'MINING-TITLE-1' | translate }}
    </ion-card-header>
    <ion-card-content>
        {{ 'MINING-TITLE-1-1' | translate }}<br />
      <a target="_blank" href="http://pools.vigcoin.org/">http://pools.vigcoin.org/</a><br />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        {{ 'MINING-TITLE-2' | translate }}
    </ion-card-header>
    <ion-card-content>
        {{ 'MINING-TITLE-2-1' | translate }}<br />
        {{ 'MINING-TITLE-2-2' | translate }}<br />
        <a target="_blank" href="https://github.com/vigcoin/wiki/blob/master/Pool.md">https://github.com/vigcoin/wiki/blob/master/Pool.md</a>
    </ion-card-content>
  </ion-card>
</ion-content>