.welcome-card ion-img {
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  opacity: 0.1;
}

.welcome-card {
  position: relative;
}


.ion-card-subtitle {
  color: #333;
}

a {
  text-decoration: none;
}