<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      VIG COIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ 'WELCOME' | translate }}</ion-card-subtitle>
      <ion-card-title>{{ 'WELCOME-TITLE' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ol>
        <li>{{ 'INTRO-1' | translate }}</li>
        <li>{{ 'INTRO-2' | translate }}</li>
        <li>{{ 'INTRO-3' | translate }}</li>
        <li>{{ 'INTRO-4' | translate }}</li>
        <li>{{ 'INTRO-5' | translate }}</li>
      </ol>
    </ion-card-content>
  </ion-card>
  <!--
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card>
          <ion-card-header color="primary">
            {{ 'TITLE-1' | translate }}
          </ion-card-header>
          <ion-card-content>
            <p>{{ 'TITLE-1-1' | translate }}</p>
            <ol>
              <li>{{ 'TITLE-1-1-1' | translate }}</li>
              <li>{{ 'TITLE-1-1-2' | translate }}</li>
              <li>{{ 'TITLE-1-1-3' | translate }}</li>
            </ol>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card>
          <ion-card-header color="primary">
            {{ 'TITLE-2' | translate }}
          </ion-card-header>
          <ion-card-content>
            <p>加密币不是股票，也不是传销，它应该是一种支付手段。从比特币出来，到以太坊的出现，加密币成了圈钱，传销者们的主要工具，越来越脱离货币的本质。vig coin旨在进一步推动加密币成为现实的货币。 </p>

            <ol>
              <li>提供面对面的实物交易的能力。</li>
              <li>降低交易费用</li>
              <li>提供个人或者小规模经济体的接入API，降低应用加密币的成本</li>
            </ol>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
  <ion-card>
    <ion-card-header color="primary">
      {{ 'TITLE-3' | translate }}
    </ion-card-header>
    <ion-card-content>
      <ol>
        <li>{{ 'TITLE-3-1' | translate }}</li>
        <li>{{ 'TITLE-3-2' | translate }}</li>
        <li>{{ 'TITLE-3-3' | translate }}</li>
        <li>{{ 'TITLE-3-4' | translate }}</li>
        <li>{{ 'TITLE-3-5' | translate }}</li>
      </ol>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      {{ 'TITLE-4' | translate }}
    </ion-card-header>
    <ion-card-content>
      <p>{{ 'TITLE-4-1' | translate }}https://github.com/vigcoin/wiki</p>
      <p>{{ 'TITLE-4-2' | translate }}https://github.com/vigcoin/wiki/blob/master/White-Paper.md</p>
    </ion-card-content>
  </ion-card>
</ion-content>